<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>308825101256-52t03dfhgdg2042ifs6lvittqbq197u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308825101256-52t03dfhgdg2042ifs6lvittqbq197u2</string>
	<key>API_KEY</key>
	<string>AIzaSyD1tKMav0iHK9fgruFXc_GGGt9Q0sTBGzA</string>
	<key>GCM_SENDER_ID</key>
	<string>308825101256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saico.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-f073b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-f073b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308825101256:ios:0a48b3c131cacae1</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-f073b.firebaseio.com</string>
</dict>
</plist>